<div class="component">
    <input type="text" class="form-control" placeholder="Symbole" ng-model="symbol">
</div>

<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Acheter</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat='act in market.actions | filter: { name: symbol}'>
        <td>{{act.name}}</td>
        <td>{{act.priceActual}}</td>
        <td>
            <button class="btn btn-link" ng-click="confirmBuy(act, $event)"><i class="fas fa-cart-plus"></i></button>
        </td>
    </tr>
    </tbody>
</table>

