<div class="component">
    <input type="text" class="form-control" placeholder="Symbole" ng-model="symbol" ng-keyup="show(symbol)">
</div>

<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Symbol</th>
        <th>Prix</th>
        <th>Hier</th>
        <th>Mois</th>
        <th>Acheter</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat='act in market.actions'>
        <!--| filter: { symbol: symbol}-->
        <td>{{act.name}}</td>
        <td>{{act.symbol}}</td>
        <td>{{act.priceActual}}</td>
        <td>{{act.yesterday}}</td>
        <td>{{act.lastMonth}}</td>
        <td>
            <button class="btn btn-link" ng-click="confirmBuy(act, $event)"><i class="fas fa-cart-plus"></i></button>
        </td>
    </tr>
    </tbody>
</table>
